.about-us {
    background-image: url('./imgs/white_tiles.jpg');
    background-size: cover;
}

.contact-link {
    text-decoration: none;
}
.gallery-img {
    max-height: 350px;
}
body {
    scroll-behavior: smooth;
}