.about-us {
    background-image: 
        linear-gradient(
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)
        ), url('./imgs/white_tiles.jpg');
    background-size: cover;
}

.contact-link {
    text-decoration: none;
}
.gallery-img {
    /* max-height: 350px; */
    max-height: 769px;
    
}
body {
    scroll-behavior: smooth;
}