.main-header {
    background-image: url('./imgs/marble.jpg');
    /* max-height: 40vh; */
    background-size: cover;
}
.intro-row {
    /* height: 20vh; */
}
.intro-info {
    /* height: 10vh; */
    /* margin-top: 100px; */
}
.holding-tile {
    max-height: 300px;
}