.main-header {
    background-image: 
        linear-gradient(
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)
        ), url('./imgs/white_tiles.jpg');
    
    /* max-height: 40vh; */
    background-size: cover;
}
/* .intro-row {
    height: 20vh;
    max-width: 100vw;
}
.intro-info {
    height: 10vh;
    margin-top: 100px;
} */
.holding-tile {
    max-height: 500px;
}
.contact-link {
    text-decoration: none;
}
.hr {
    display: none;
}


@media only screen and (min-width: 300px) and (max-width: 1024px) {
    .hr {
        display: block;
    }
}

@media only screen and (min-width: 1025px) {
    .index-header {
        padding-left: 0px !important;
        padding-right: 0px !important; 
    }
}